<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Upload</title>   
    </head>
    <body>
        <form id="upload_form" action="{% url 'upload' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>
            <p>
                {{ form.file.errors }}
				<input type="file" id="upload_file" name="file" accept="image/*" style="visibility: hidden; width: 0px; height: 0px" onchange="document.getElementById('upload_form').submit()" />
            </p>
            <p><input type="submit" value="Upload" onclick="document.getElementById('upload_file').click(); return false" /></p>
        </form>
    </body>
</html> 
